* {
    margin: 0;
    padding: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 25px;
}

input,
textarea {
    width: 255px;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

#btn-save {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #f9f9f9;
    width: 355px;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.card p {
    margin-top: 0;
    margin-bottom: 20px;
}

.delete-btn {
    background-color: #ff3333;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    cursor: pointer;
}
